@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.gradient{

  background: linear-gradient(150deg, #F3F3F3 13.4%, #E8C7FA 86.6%);

}

.head{

  font-size: 96px;
  padding-left: 20%;
  font-weight: 600;
  padding-bottom: 200px;
  line-height: 124px;
  padding-top: 1rem;

}

.image{
  z-index: 10;
  position: absolute;
  right: 6%;
  overflow:hidden;
  top: 24.3%;

}

@keyframes bounceOrig {
  0%, 100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.8,0,1,1);
  }
  50% {
    transform: translateY(25%);
    animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}

.hover\:bounceOrig:hover { animation: bounceOrig 1s infinite; }