@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.gradient{

  background: linear-gradient(150deg, #F3F3F3 13.4%, #E8C7FA 86.6%);

}

.head{

  font-size: 96px;
  padding-left: 20%;
  font-weight: 600;
  padding-bottom: 200px;
  line-height: 124px;
  padding-top: 1rem;

}

.image{
  z-index: 10;
  position: absolute;
  left: -9%;

}